{% load custom_filters %}
{% load custom_tags %}
<html>
<head>
	<title>{% block title %}It's me!!! Only me!!!{% endblock %}</title>
	<link rel="stylesheet" type = "text/css" href="{{ STATIC_URL }}css/styles.css">
	<link href='http://img193.imageshack.us/img193/540/logoupr.png' rel='shortcut icon'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
	{% block extrahead %}{% endblock %}
</head>

<body id= "body">
	<div id="wrapper">
		<div id="logo"><img src="{{ STATIC_URL }}img/theme/beta.gif" alt="LOGO" ></div>
		<div id="head">	
			<div id="heading"><img src="{{ STATIC_URL }}img/theme/blog_title.png" alt="It's Me!!! Only Me!!!" ></div>
		</div>

	<div>
		<div id="leftsidebar">
			<div class="box">
			<div id="archive_data">
			<div class="commontextformat" id="archive">Archive</div>
				{% for data in hdata %}
					<div id="archive_year">
						<img src="{{ STATIC_URL }}img/theme/bulletdown.png" alt="" class="imgsetting">
						<a href="#" class="linktypetwo">{{ data.0 }}</a>
						({{ data|poemsinyear }})
					</div>
					{% for month in data.1 %}
						<dl>
							<dt id="archive_month">
									<img src="{{ STATIC_URL }}img/theme/bulletdown.png" alt="" class="imgsetting">
									<a href="#" class="linktypetwo">{{ month.0|convertIntoMonth }}</a>
									({{ month.1|length }})
							</dt>
							{% for post in month.1 %}
							<dd>
								<li id="archive_post"><a class="linktypetwo" href="/post_{{ post.id }}">{{ post.title }}</a></li>
							</dd>
							{% endfor %}
						</dl>
					{% endfor %} 
				{% endfor %} 
			
			
			
<!--			{% comment %}<div id="archive_year">
				<ul>
					{% for year in year_list %}
						<li>{{ year }}</li>
						<ul>
						{% for data in hdata %}
							{% ifequal data.post_date.year year %}
								{% ifequal data.post_date.month monthstore %}
									<li id="archive_month">{{ data.post_date.month|convertIntoMonth }}</li>
								{% endifequal %}
									{% assign data.post_date.month as monthstore %}
									{{ monthstore }}
								
							{% endifequal %}
						{% endfor %}
						</ul> 							
					{% endfor %}
				</ul>				
			</div>{% endcomment %}-->

			</div>
			
			</div>
		</div>



		<div id="content">
			{% block content %}<h1>THis is the Index page.</h1>{% endblock %}
			{% block comments %}{% endblock %}		
		</div>



		<div id="rightsidebar">
		
		<!--	SEARCH BAR	--> 
			<div class="box">
			<div class="commontextformat" id="archive">Search box</div>
			<div id="searchbox">
				<form action="/searchquery/" method="post">
				{% csrf_token %} 
					<div>{{ form }}</div>
					<div id="searchicon"><img align = 'left' src="{{ STATIC_URL }}img/theme/searchlogo.png" alt="" ></div>
				</form>			
			</div>
			
			</div>
			
			
			{% block aboutme %}{% endblock %}
			{% block recentposts %}{% endblock %}
			
		</div>
	</div>

		<div class="clearer"></div>

		<div id="footer" class="commontextformat">
			<div>
				<div id="powers">
					<div>&copy;&nbsp;
					<a href = "/author_page/Wish/" class="linktypeone">Abhilash Nanda (Wish)</a>
					 | All posts are property of the author |&nbsp;Site powered by:</div>
					<a href="http://www.djangoproject.com/" title="Django"><img src="{{ STATIC_URL }}img/theme/powered_by/django.png" alt="" ></a>
					<a href="http://www.ubuntu.com/" title="Ubuntu"><img src="{{ STATIC_URL }}img/theme/powered_by/ubuntu.png" alt="" ></a>
					<a href="http://www.opensource.org/" title="Open Source"><img src="{{ STATIC_URL }}img/theme/powered_by/opensource.png" alt="" ></a>
					<a href="http://www.w3.org/TR/html5/" title="HTML5"><img src="{{ STATIC_URL }}img/theme/powered_by/html5.png" alt="" ></a>
					<a href="http://www.gimp.org/" title="GIMP"><img src="{{ STATIC_URL }}img/theme/powered_by/gimp.png" alt="" ></a>
					<a href="http://www.alwaysdata.com/" title="Alwaysdata hosting"><img src="{{ STATIC_URL }}img/theme/powered_by/alwaysdata.png" alt="" ></a>
				</div>			
			</div>
		</div>	
	</div>
	
</body>
</html>
