{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
	{% if posts %}
		{% for post in posts %}
		<div class="box">
			<div id="post_top">
				<div id="posting_date">Date : {{ post.post_date }}</div>
			</div>
			{% if post.image %}
			<div id="post_image">
				<img src="{{ post.image }}" alt="Post Image" >
			</div>
			{% endif %}
			<br>
			<div id="post_title"><a class="linktypetwo" href="/{{ post.post_date|urlArgFormat:post.title}}/">{{ post.title|title }}</a></div>
			{% autoescape off %}
			<div id="posting">{{ post.article|linebreaksbr|truncatewords_html:20 }}</div>
			{% endautoescape %}
			<div id="post_footer">
				<div id="readme">
					<a href="/{{ post.post_date|urlArgFormat:post.title}}/" class="linktypeone">Read more</a>				
				</div>
				<br>
			</div>
		</div>
		{% endfor %}
	{% else %}
		<div>
			<div id="post_infra">
				<div id="post_title">{{ message }}</div>
			</div>		
		</div>
	{% endif %}
	
{% endblock %}