{% extends 'base.html' %}

{% block extrahead %}
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}

{% load custom_filters %}
{% block content %}
		<div class="box">
					
			<div id="post_top">
				<div id="posting_date">Date : {{ posts.post_date }}</div>

				<div id="social_buttons">
				<table summary="" >
					<tr>
						<td>
							<div class="social_button_padding">
								<div id="fb-root"></div>
								<script src="http://connect.facebook.net/en_US/all.js#appId=169240846479398&amp;xfbml=1"></script>
								<fb:like href="" send="false" layout="button_count" width="70" show_faces="true" font="Ubuntu"></fb:like>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="social_button_padding">
								<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal"></a>
								<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>					
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="social_button_padding">
								<g:plusone size="medium"></g:plusone>
							</div>
						</td>					
					</tr>
				</table>
									
				</div>
				
				
											
			</div>
			<div id="post_image">
				<img src="{{ posts.image }}" alt="" >
			</div>
			<br>
			<div id="post_title" class="commontextformat">{{ posts.title }}</div>
			{% autoescape off %}
			<div id="posting">{{ posts.article|linebreaksbr }}</div>
			{% endautoescape %}
			<br>
			
			<div id="post_footer">
				<span>Posted by <a href="/author_page/{{ posts.author.all.0.name }}" class="linktypetwo"> 
				{{ posts.author.all.0.name|title|bold|safe }}</a> at {{ posts.post_time }}</span>
			</div>
			<br>
		</div>
{% endblock %}

{% block aboutme %}
<!--	ABOUT ME		-->
			<div class="box">
				<div class="commontextformat" id="archive">About Me</div>
				<div id="profile">
					<img src="{{ posts.author.all.0.author_image }}" alt="" >
				</div>
				<div class="commontextformat">
					<div id="profile_name">{{ posts.author.all.0.name|title|bold|safe }}</div>
					<div id="profile_desc">{{ posts.author.all.0.personal_desc|truncatewords_html:20 }}</div>
					<div id="profile_link"><a class = "namelink" href = "/author_page/{{ posts.author.all.0.name }}/">
					View complete profile.</a></div>
				</div>
			</div>
{% endblock %}

