{% extends 'base.html' %}
{% block title %}{{ posts.title|title }}{% endblock %}
{% block extrahead %}
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}

{% load custom_filters %}
{% block content %}
		<div class="box">
					
			<div id="post_top">
				<div id="posting_date">Date : {{ posts.post_date }}</div>

				<div id="social_buttons">
				<table summary="" >
					<tr>
						<td>
							<div class="social_button_padding">
								<div id="fb-root"></div>
								<script src="http://connect.facebook.net/en_US/all.js#appId=169240846479398&amp;xfbml=1"></script>
								<fb:like href="" send="false" layout="button_count" width="70" show_faces="true" font="Ubuntu"></fb:like>
							</div>
						</td>
						<td>
							<div class="social_button_padding">
								<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal"></a>
								<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>					
							</div>
						</td>
						<td>
							<div class="social_button_padding">
								<g:plusone size="medium"></g:plusone>
							</div>
						</td>					
					</tr>
				</table>
									
				</div>
				
				
											
			</div>
			{% if posts.image %}
			<div id="post_image">
				<img src="{{ posts.image }}" alt="" >
			</div>
			{% else %}
			<div id="post_image">
				<img src="{{ STATIC_URL }}img/theme/defaultpic.png" alt="" >
			</div>
			{% endif %}
			<br>
			<div id="post_title" class="commontextformat">{{ posts.title }}</div>
			{% autoescape off %}
			<div id="posting">{{ posts.article|linebreaksbr }}</div>
			{% endautoescape %}
			<br>
			
			<div id="post_footer">
				<span>Posted by <a href="/author_page/{{ posts.author.all.0.name }}" class="linktypetwo"> 
				{{ posts.author.all.0.name|title|bold|safe }}</a> at {{ posts.post_time }}</span>
			</div>
			<br>
		</div>
		
		<div id="disqus_wrapper" class="comment-box">
			<div style="height:5px;"></div>		
			<div id="disqus_thread"></div>
			<div style="height:5px;"></div>
		</div>
			
			
			<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    			var disqus_shortname = 'itsmeonlyme'; // required: replace example with your forum shortname
//				var disqus_identifier = '{{ posts.id }}'
    			// The following are highly recommended additional parameters. Remove the slashes in front to use.
    			// var disqus_identifier = 'unique_dynamic_id_1234';
			    // var disqus_url = 'http://example.com/permalink-to-page.html';

    			/* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
        			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
		
		
{% endblock %}

{% block aboutme %}
<!--	ABOUT ME		-->
			<div class="box">
				<div class="commontextformat" id="archive">About Me</div>
				<div id="profile">
					<img src="{{ posts.author.all.0.author_image }}" alt="" >
				</div>
				<div class="commontextformat">
					<div id="profile_name">{{ posts.author.all.0.name|title|bold|safe }}</div>
					<div id="profile_desc">{{ posts.author.all.0.personal_desc|truncatewords_html:20 }}</div>
					<div id="profile_link"><a class = "namelink" href = "/author_page/{{ posts.author.all.0.name }}/">
					View complete profile.</a></div>
				</div>
			</div>
{% endblock %}

